<h1>My Spaces</h1>

<ul id='spaces'>
  <% @spaces.each do |space| %>
  <li>
    Space Name: <%= space.name %> <br>
    Space Price: <%= space.price %> <br>
    Space Description: <%= space.description %> <br>
    Posted by: <%= space.user.email %>
  </li>
  <% end %>
</ul>
