<h1>Add a new space</h1>

<form action="/myspaces" method="post">
  <label for="name">
    Space Name:
    <input type="text" id="name" name="name" />
  </label>
  <br>

  <label for="price">
    Space Price Per Night:
    <input type="text" id="price" name="price" />
  </label>
  <br>

  <label for="start_date">
    Date from when space is available:
    <input type="date" id="start_date" name="start_date" />
  </label>
  <br>

  <label for="end_date">
    Last date that space is available:
    <input type="date" id="end_date" name="end_date" />
  </label>
  <br>

  <label for="description">
    Space Description:<br>
    <textarea rows="4" cols="50" name="description" id="description"></textarea>
  </label>
  <br>

  <input type="submit" value="Add space" >

</form>
