<h1>Add a new space</h1>

<form action="/myspaces" method="post">
  <label for="name">
    Space Name:
    <input type="text" id="name" name="name" />
  </label>

  <input type="submit" value="Add space" >

</form>
