<h1>Add a new space</h1>

<form action="/myspaces" method="post">
  <label for="space">
    Space Name:
    <input type="text" name="name" />
  </label>

  <input type="submit" value="Add space" >

</form>
